
- name: Ensure mount points exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
  loop:
    - "{{ mirror_base_path }}"
  become: true

- name: Mount NFS Share
  ansible.posix.mount:
    path: "{{ mirror_base_path }}"
    src: "{{ nfs_server }}:{{ nfs_share }}"
    fstype: nfs
    opts: "{{ nfs_options | join(',') }}"
    state: mounted
  become: true

