- name: Wait for Cloud-Init to finish
  block:
    - name: Wait for port 22 to become available
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        delay: 10
        timeout: 300
      delegate_to: localhost

    - name: Wait for Cloud-Init to finish
      ansible.builtin.shell: cloud-init status --wait
      become: true
      changed_when: false
      register: cloud_init_result
      until: cloud_init_result is success
      retries: 10
      delay: 15

- name: Install apt packages
  ansible.builtin.apt:
    name: "{{ apt_packages }}"
    state: present
    update_cache: yes
  become: true
