- name: Deploy mirror.list file
  ansible.builtin.template:
    src: "mirror.list"
    dest: "/etc/apt/mirror.list"
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Create symbolic link for Apache to serve the mirror
  file:
    src: "{{ mirror_base_path }}/mirror/{{ mirror_server_name }}/ubuntu"
    dest: /var/www/html/ubuntu
    state: link
    force: yes
  become: true

- name: Enable periodic apt-mirror updates via cron
  cron:
    name: "Run apt-mirror daily"
    hour: "2"
    minute: "0"
    job: "/usr/bin/apt-mirror > /var/spool/apt-mirror/var/cron.log"
  become: true